<template name="divBuilderBottomPanel">
  <button id="divBuilderBottomPanelToggle" type="button"  class="btn btn-default btn-bottom-center" data-toggle="collapse"  data-target="#divBuilderBottomPanel">
    <i class="fa fa-arrow-up "></i>
  </button>
  <div id="divBuilderBottomPanel"  class="divBuilderBottomPanel collapse" style="display:none;" >
    <div class="row">
        <div class="col-sm-11">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div class="col-sm-1" style="justify-content: center;text-align: center;" >
          <button type="button"   class="btn btn-default"  data-toggle="collapse" data-target="#divBuilderBottomPanel" ><i class="fa fa-arrow-down "></i></button>
        </div>
    </div>
  </div>
</template>
